/* General use fonts */
font-family: 'Noto Serif', serif;
font-family: 'Noto Sans', sans-serif;

text-rendering: optimizeLegibility;

/* To enable ligratures */
element.style {
  font-feature-settings: "dlig";
}

/* Fonts for Anangu-Yolngu font-encoded output. */
    @font-face{
      font-family:'AYolNTU';
      src:url('/fonts/AYolNTU.ttf');
      font-weight:normal;
      font-style:normal;
      font-size: 32px;
    }

    .AYolNTU {
      font-family:'AYolNTU';
      font-size: 32px;
    }

/* Myanmar script */
  @font-face {
    font-family: 'NotoSansMyanmar';
    src: url('/fonts/Myanmar/NotoSansMyanmar-Regular.ttf');
  }

/* Tamashek */
    @font-face{
      font-family:'NotoTifi';
      src:url('/fonts/NotoSansTifinagh-Regular.ttf');
      font-weight:normal;
      font-style:normal;
      font-size: 32px;
    }

/* Tibetan */
    @font-face{
      font-family:'MonlamBodyig';
      src:url('/fonts/monlam bodyig.ttf');
      font-weight:normal;
      font-style:normal;
      font-size: 32px;
    }
    
/* Chakma */
    @font-face{
      font-family:'NotoSansChakma';
      src:url('/fonts/NotoSansChakma-Regular.ttf');
      font-weight:normal;
      font-style:normal;
      font-size: 32px;
    }


/* Chakma */
    @font-face{
      font-family:'extendedNotoSansChakma';
      src:url('/fonts/extendedNotoSansChakma-Regular.ttf');
      font-weight:normal;
      font-style:normal;
      font-size: 32px;
    }

    @font-face{
      font-family:"RibengUni";
      src:url("/fonts/RibengUni-Regular_20180618.ttf");
      font-weight:normal;
      font-style:normal;
    }


    @font-face{
      font-family:"RibengUni3";
      src:url("/fonts/RibengUni3.ttf");
      font-weight:normal;
      font-style:normal;
    }

    @font-face{
      font-family:"Alaam";
      src:url("/fonts/Alaam.ttf");
      font-weight:normal;
      font-style:normal;
    }

    /* Ahom */
    @font-face{
      font-family:"NotoSerifAhom";
      src:url("/fonts/ahom_aiton/NotoSerifAhom-Regular.ttf");
      font-weight:normal;
      font-style:normal;
    }

    @font-face{
    src:url("/fonts/Padauk-Regular.ttf");
    font-family:'Padauk';
      font-weight:normal;
      font-style:normal;
    }

    /* Bassa Vah */
    @font-face{
      font-family:"NotoSansBassaVah";
      src:url("/fonts/NotoSansBassaVah-Regular.ttf");
      font-weight:normal;
      font-style:normal;
    }

    @font-face {
      font-family: 'NotoSansMendeKikakui';
      src:url("/fonts/NotoSansMenduKikakui-Regular.ttf");
      font-weight:normal;
      font-style:normal;
    }
     @font-face {
      font-family: NotoSansSylotiNagri;
      src:url("/fonts/NotoSansSylotiNagri-Regular.ttf");
      font-weight:normal;
      font-style:normal;
      text-rendering: optimizeLegibility;
    }
     @font-face {
      font-family: NotoSansKayah;
      src:url("/fonts/NotoSansKayah-Regular.ttf");
      font-weight:normal;
      font-style:normal;
      text-rendering: optimizeLegibility;
    }


