{% for font in unicode_list %}
@font-face {
  font-family:'{{font.family}}';
  src:url('{{font.source}}'){% if '.ttf' in font.source %}format('truetype'){%endif%}{% if '.TTF' in font.source %}format('truetype'){%endif%}{% if '.otf' in font.source %}format('opentype'){%endif%}{%if '.woff' in font.source %}format('woff'){%endif%};
  font-weight:normal;
  font-style:normal;
  font-size: 32px;
}

.{{font.family}} {
  font-family:'{{font.family}}';
  font-size: 32px;
}
{% endfor %}