<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>

  <title>Download {{language}} resources</title>

  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="/css/fonts.css">

  <style>
  textarea {
    width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-size: 24px;
	}
  {
    font-family: "Courier New";
  }
  </style>

  </head>

  <body onload="init()">
  <div class="container">
    <div class="span-1">  
    </div>
  <div class="span-16 last">
    <h2>Base = {{base_hex}}: {{base_char}}</h2>
    <h2>{{diacritics|length}} Diacritics: {{diacritics_nex}}</h2>
    <h2>Combinations</h2>
    {% for combo in combinations %}
    <p>{{combo.text}} | {% for c in combo.codes%}{{c}}{% endfor %}</p>
    {% endfor %}
  </div>
  </div>
  </body>
