<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>

  <title>Download {{language}} resources</title>

  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="/css/fonts.css">

  <style>
  textarea {
    width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-size: 24px;
	}
  {
    font-family: "Courier New";
  }
  </style>
  <script src="/js/utils.js"></script>
  <script src="/js/osageConverter.js"></script>
  <script src="/js/osage_utils.js"></script>
  <script>

  function toggle(id, toggle) {
    var obj = document.getElementById(id);
    var checkBox = document.getElementById(toggle);
    var showIt = checkBox.checked;
    if(showIt)
      obj.style.display = 'block';
    else
      obj.style.display = 'none';
    }

  function init() {
    // Fill in if needed.
  }

  </script>
  </head>

  <body onload="init()">
  <div class="container">
    <div class="span-1">  
    </div>
  <div class="span-16 last">
    <h1>Download {{language}} fonts</h1>

    <ul>
      {% for font in unicode_font_list %}
      <li>
        <a href="{{font.source}}" download
           style="font-family:{{font.family}};font-size:24px;">{{font.longName}} ({{language_native}})</a>
      </li>
      {% endfor %}
    </ul>

    {% if file_list %}
    <h1>Download {{language}} files</h1>

    <ul>
      {% for font in file_list %}
      <li>
        <a href="{{font}}" download
           style="font-family:{{font.family}};font-size:24px;">{{font}} ({{language_native}})</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

  </div> <!-- span-16 -->
  </div> <!-- container -->

</body>
</html>
