<html>
  <!-- https://codepen.io/andyydna/details/VwYRVQE -->
  <head>
  <link rel="stylesheet" type="text/css" href="/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="/css/calendar.css">
  
  <style>
      {% for font in unicodeFontList %}
      @font-face{
          font-family:"{{font.family}}";
          src:url('{{font.source}}'){% if '.ttf' in font.source %}format('truetype'){%endif%}{% if '.TTF' in font.source %}format('truetype'){%endif%}{% if '.otf' in font.source %}format('opentype'){%endif%}{%if '.woff' in font.source %}format('woff'){%endif%};
          font-weight:normal;
          font-style:normal;
          font-size: 64px;
      }
      {% endfor %}
  </style>    

  <!-- get the numeral functions -->
  <script type="text/javascript" src="/js/numerals/numeralBase.js"></script>

  <!-- This loads the numerals info -->
  <script type="text/javascript" src="/js/numerals/{{langNumerals}}.js"></script>
  
  <script>
    // Holds all the info about the numeral system
    const numeralBase = new NumeralBase();
    const numeralInfo = new Numerals(numeralBase);

    const defaultFont = "{{unicodeFontList.0.family}}";
    const weekdays = [
	{% for day in weekdays %}
	"{{day}}",
	{% endfor %}
    ];
    const monthNames = [
	{% for month in months %}
	"{{month}}",
	{% endfor %}
    ];
  </script>

  </head>

  <body>
    <div class="wrapper">
      
      <div class="container-calendar">
        <h3 id="monthAndYear"><span id="yearHeader"></span></h3>
        
        <div class="button-container-calendar">
          <button id="previous" onclick="previous()">&#8249;</button>
          <button id="next" onclick="next()">&#8250;</button>
        </div>
        
        <table class="table-calendar" id="calendar" data-lang="{{languageTag}}">
          <thead id="thead-month"></thead>
          <tbody id="calendar-body"></tbody>
        </table>
        
        <div class="footer-container-calendar">
          <label for="month">Jump To: </label>
          <select id="month" onchange="jump()">
            <option value=0>Jan</option>
            <option value=1>Feb</option>
            <option value=2>Mar</option>
            <option value=3>Apr</option>
            <option value=4>May</option>
            <option value=5>Jun</option>
            <option value=6>Jul</option>
            <option value=7>Aug</option>
            <option value=8>Sep</option>
            <option value=9>Oct</option>
            <option value=10>Nov</option>
            <option value=11>Dec</option>
          </select>
          <select id="year" onchange="jump()"></select>       
	  <div>
	    <!-- Turn on when other calendar types are supported -->
          <select id="calendarType" onchange="jump()" style="display:none;"></select>       
	  </div>
        </div>

      </div>
    
    </div>
    <div>
      <br />
      <br />
      Credit: <a href="https://codepen.io/andyydna/details/VwYRVQE">codepen.io/andyydna</a>
    </div>
  </body>
  <script src="/js/calendar.js"></script>
  
</html>
