<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>

  <title>Character names for {{language}}</title>

  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="/css/fonts.css">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.2/d3.js"></script>

    <script>
    let charLines = "{{charNameData}}".split("!!!");  // Gets TSV data from the input file
    let characterData = [];
    if (characterData == null) {
        d3.tsv("{{charTable.file}}", function(data) {
            characterData = data;
        });
    } else {
      for (line in charLines) {
        characterData.push(charLines[line].split('\t'));
      }
    }
    </script>

    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
    }

    textarea {
    width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-size: 24px;
	}
  {
    font-family: "Courier New";
  }
  </style>

  <style>
    {% for font in unicode_font_list %}
    @font-face{
      font-family:'{{font.family}}';
      src:url('{{font.source}}'){% if '.ttf' in font.source %}format('truetype'){%endif%}{% if '.TTF' in font.source %}format('truetype'){%endif%}{% if '.otf' in font.source %}format('opentype'){%endif%}{%if '.woff' in font.source %}format('woff'){%endif%};
      font-weight:normal;
      font-style:normal;
      font-size: 32px;
    }

    .{{font.family}} {
      font-family:{{font.family}};
      font-size: 32px;
    }
    {% endfor %}
  </style>
  
  <script>
   function onFontSelected(selected, tableId) {
     var table = document.getElementById(tableId);
     var fontFam = selected.value + ", MyFont";

     // Special case to handle column 1 of table.
     for (var i = 1, row; row = table.rows[i]; i++) {
       //iterate through rows
       //rows would be accessed using the "row" variable assigned in the for loop
       cell = row.cells[0];
       cell.style.fontFamily = fontFam;
     }
}

  function changeFontSize(selected) {
     var fontObj = document.getElementById(selected);
     var fontSize = fontObj.value;
     var table = document.getElementById("namesTable");
     div.style.fontSize = fontSize;
     for (var i = 0, row; row = table.rows[i]; i++) {
       //iterate through rows
       //rows would be accessed using the "row" variable assigned in the for loop
       for (var j = 0, col; col = row.cells[j]; j++) {
         //iterate through columns
         //columns would be accessed using the "col" variable assigned in the for loop
       }
     }
   }

    function init() {
        /* Fill in as needed */
        // Fill in table from characterData
        createTable(characterData);
    }

    function createTable(data) {
      // Just one table.
      let headers = [];

      let table = document.getElementById('namesTable');
      const header = table.createTHead();
      let rowNum = 0;
      let headerRow = table.insertRow(rowNum);

      for (let index = 0; index < data[0].length; index ++) {
        headers.push(data[0][index]);
        const headerCell = headerRow.insertCell(index);
        headerCell.innerHTML = headers[index];
        headerCell.style.fontSize = '20pt';
        headerCell.align="center";
      };
      // Add rows for each code.
      let cellIndex = 0;
      for (let index = 1; index < data.length; index ++) {
          // One row for each row of patternMap.
          rowNum ++;
          const item = data[index];
          let row = table.insertRow(rowNum);
          for (let cellIndex = 0; cellIndex < headers.length; cellIndex ++) {
              let cell = row.insertCell(cellIndex);
              cell.innerHTML = item[cellIndex];
              // cell0.title = '';
              cell.style.fontSize = '20pt';
              if (cellIndex === 0) cell.style.fontFamily = "{{unicode_font_list.0.family}}";  // TODO
              cell.align="center";
          }
      }
  }

  </script>

  </head>

  <body onload="init()">
  <div class="container">
    <div class="span-24 last">
        <p id="demo"></p>
      <h2>Character table for {{language}}</h2>
        <h3>{{charTable.info}}</h3>
      Select font: <select onchange="onFontSelected(this, 'namesTable');" id="selectFont">
        {% for font in unicode_font_list %}
        <option value="{{font.family}}">{{font.longName}}</option>
        {%endfor%}
      </select>
      Font size: <select id='fontSize'
             onChange="changeFontSize('fontSize');">
             <option value="9pt">9</option>
             <option value="10pt">10</option>
             <option value="12pt">12</option>
             <option value="14pt">14</option>
             <option value="16pt" selected="selected">16</option>
             <option value="18pt">18</option>
             <option value="24pt">24</option>
             <option value="32pt">32</option>
             <option value="36pt">36</option>
             <option value="48pt">48</option>
             <option value="64pt">64</option>
           <select/>
    <br />

    <br />

  <div id="nameTableDiv">
    <h2>Table of characters</h2>
    <table id="namesTable">

    </table>
  </div>

  </div>
  </div>
  </body>
