<!DOCTYPE html>
<html><head>
    <title>Create a virtual keyboard layout</title>


    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">

    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <style>
   {% for font in font_list %}
    @font-face{
      font-family:"{{font.family}}";
      src:url("{{font.source}}");
      font-weight:normal;
      font-style:normal;
    }
    {% endfor %}

     /* https://stackoverflow.com/questions/21909994/css-keyboard-layout */
    .keyboardRow { text-align:center }
    .key { display:inline-block; border:1px solid red; padding:10px;margin-bottom:5px; }

    .bigtext {font-size:20px;}
    </style>

    <link rel="stylesheet" type="text/css" href="/css/fonts.css">

    <style>
      .default-font {
      font-family: "Arial,Helvetica";
      font-size:12px;
      }

     {% for font in font_list %}
      .{{font.family}} {
      font-family: "{{font.family}},Arial";
      font-size:18px;
      }
      {% endfor %}

    input {font-size:14px;}
    textarea {font-size:18; height:400px;}
    </style>

    <script src="/js/utils.js"></script>
    <script src="/js/vk-debug.js"></script>
    <script>
    var diff_list = [];  // needed for utils.js

    var controller, visible = true;
    function onPageLoaded() {
      var input = document.getElementById('t1');
      controller = new i18n.input.keyboard.Keyboard();
      onSizeSelected(document.getElementById("sizeSelector").value, 't1');
      {% for kb in kb_list %}
      controller.loadLayout('{{kb.shortName}}');
      {% endfor %}
      controller.reposition(input, 3, 4, [5, 0, 0, 0]);
      controller.activateLayout('{{kb_list.0.shortName}}');
      controller.register(input);
      controller.addEventListener(
          'kc',
          function() { visible = false; });
      input.focus();

      var selector = document.getElementById("setLayout");
      if (selector) {
        onLayoutSelected(selector.value);
      }
    }

    function onLayoutSelected(layoutCode) {
      controller.activateLayout(layoutCode);
        var info = kb_info[layoutCode];
        if (info != null) {
            var area = document.getElementById("kb_instructions");
            if (area) {
                area.innerHTML = area.value = info[1];
            }
        }
    }

    function onSizeSelected(newSize, textArea) {
      var t1_element = document.getElementById(textArea);
      t1_element.style.fontSize = newSize;
    }

    // Keyboard info.
    var kb_info = {
      {% for kb in kb_list %}
        {{kb.shortName}}: ["{{kb.longName}}", "{{kb.instructions}}" ],
        {%endfor%}
    };

  var clickedKey = null;
  var clickedChar = null;

  var allChars = [
    {% for c in allchars %} "{{c}}", {% endfor %}
  ];
  function layerClick(layer) {
    alert('Layer ' + layer);
   }

  function keyClick(key, in_buffer, keycap_buffer) {
    var keyCell = document.getElementById(key);
    // alert('Key ' + key);
    if (clickedChar) {
      var source = document.getElementById(in_buffer);
      var keycap = document.getElementById(keycap_buffer).value;
      keyCell.innerHTML = keyCell.value = source.value;
      clickedKey = keyCell;
      KbLayout[currentLayer][key]['code'] = keyCell.value;
      if (keycap && keycap != '') {
        KbLayout[currentLayer][key]['keycap'] = keycap;
        keyCell.innerHTML = keyCell.value = keycap;
      }
      clearAreas(['in_buffer', 'keycap_buffer']);
      clickedChar = null;
    }
  }

  function clearAreas(area_list) {
    for (var i in area_list) {
      var obj = document.getElementById(area_list[i]);
      obj.value = obj.innerHTML = '';
    }
  }

  function charClick(c, in_buffer) {
    // alert('Char ' + c);
    var in_buf = document.getElementById(in_buffer);
    if (in_buf) in_buf.value = in_buf.value + c;
    clickedChar = c;
  }

  function moveText(srcId, destId) {
    var src_buf = document.getElementById(srcId);
    var dest_buf = document.getElementById(destId);
    dest_buf.value = dest_buf.innerHTML = src_buf.value;
    clearAreas([srcId]);
  }

  // Concepts for setting up a keyboard:
  //   a. a current key
  //   b. a current layer
  //   c. load by name
  //   d. save by name
  //   e. multiple characters / key
  //   f. space key is wider
  //   g. key may have special key cap string
  //   h. keyboard should have language associated

  function keyboard(name) {
    this.name = name;
    this.lang = '';
    this.rows = [];
    this.rules = [];  // patterns and replacement
  }

 function saveDraft() {
    // Get keyboard language and name.
    var saveName = prompt("Add new keyboard name:", "default name");

    if (saveName == null) {
      return;
    }
    // TODO: Get the data and make a XHTML call to the backend.

	if (window.XMLHttpRequest) {
	  // code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	} else {
	  // code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}

    // Deal with the results
    xmlhttp.onreadystatechange=function() {
	  if(xmlhttp.readyState==4) {
	    // The callback.
        var returned_json = xmlhttp.responseText
        // TODO: Handle returned values

        return;
      }
	}

	// Set up the call with the data to update/save.
	var json_kbdata = encodeURIComponent(JSON.stringify(KbLayout));
	var target = "/kb/update/?kbid=" + saveName;
	var langcode = document.getElementById("LanguageCode").value;
	target += "&langCode=" + langcode + "&scriptCode=" + scriptCode;
	target += "&kbLayout=" + json_kbdata;
	xmlhttp.open("GET", target, true);

	xmlhttp.send(null);
  }

  // Global data:
  var scriptCode = "myam";
  var layers = {
    {% for layer in layers %}
      "{{layer.0}}": "{{layer.1}}",
    {% endfor %}
  };
  // kb data object
  // TODO: Set shifted layers to caps values.
  var KbLayout = {
    {% for layer in unshiftedLayers %}
      "{{layer.1}}" : {
      {% for row in rows %}
        {% for c in row %}"{{c}}": { "codes": "{{c}}", }, {% endfor %}
      {% endfor %} },
    {% endfor %}
    {% for layer in shiftedLayers %}
      "{{layer.1}}" : {
      {% for row in rows %}
        {% for c in row %}"{{c}}": { "codes": "{{c}}", }, {% endfor %}
      {% endfor %} },
    {% endfor %}  };


  var currentLayer = "default";

  var inCapsLock = false;

  // Function to controll output from virtual KB
  function keyDown(event) {
    var e = event;  // Global?
    var out = e.srcElement;
    if (e.code == "CapsLock") {
      inCapsLock = true;
    }
  }

  function eventPropToLayerCode(e) {
    var level = "default";
    if (!e.shiftKey) {
      if (!e.ctrlKey) {
        level = "default";
      } else {
        level = "ctrl_alt";
      }
    } else {
      // Shifted
      if (!e.ctrlKey) {
        level = "shift";
      } else {
        level = "shift_ctrl_alt";
      }
    }
    if (inCapsLock) {
      if (level == "default") {
        level = "lock";
      } else {
        level += "_lock";
      }
    }
    return level;
  }

  // Function to controll output from virtual KB
  function keyPress(event) {
    var e = event;  // Global?
    var key = e.key;
    var layer = eventPropToLayerCode(e);
    var newVal = KbLayout[layer][key]['code'];
    if (newVal !== undefined) {
      out.value += newVal;
      e.preventDefault();
    }
  }

  // Function to control output from virtual KB
  function keyUp(event) {
    var e = event;  // Global?
    var out = e.srcElement;
    if (e.code == "CapsLock") {
      inCapsLock = false;
    }
  }

  function setLayerKeyCaps(newLayer) {
    // For all keys, set the keycap.
    for (index in allChars) {
      var c = allChars[index];
      var out = document.getElementById(c);
      var item = KbLayout[newLayer][c];
      if (item == undefined) {
          alert("item " + c + " = " + item);
      } else {
      if (item["keycap"] != undefined) {
        out.value = out.innerHTML = item["keycap"];
      } else {
        if (item["codes"] != undefined) {
          out.value = out.innerHTML = item["codes"];
        } else {
          alert("item codes undefined: " + c + " = " + item);
        }
      }
      }
    }
  }

  function onLayerSelected() {
    currentLayer = document.getElementById("layerSelector").value;
    document.getElementById("currentLayerName").value = currentLayer;

    setLayerKeyCaps(currentLayer);
  }

</script>

<body onload="onPageLoaded()">
<div class="container">
    <div class="span-16">
        <h2>Prototype keyboard tool</h2>
        Current layer: <span id="currentLayerName"></span>

        <div>
        Keyboard layer: <select onchange="onLayerSelected(this.value, 'edit_area');" id="layerSelector">
        {% for layer in layers%}
            <option value="{{layer.1}}">{{layer.1}}</option>
            {% endfor %}
        </select>
        </div>
        <div class="kb_layer">
            {% for row in rows %}
            <div class="keyboardRow">
                {% for c in row %}
                <span class="key" id='{{c}}'
                      onclick="keyClick('{{c}}', 'in_buffer', 'keycap_buffer');">{{c}}</span>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <div>
            <textarea id="t1" onkeydown="keyDown(event);" onkeypress="keyPress(event);"
            onkeyup="keyUp(event);"></textarea>
        </div>
    </div>
    <div class="span-8 last">
        Language Code: <input id="LanguageCode" type="text" value="{{langCode}}" />
        <br />
        <h3 id='char_table'>Table of characters:</h3>
        <div id="character_array">
            {% for c in charsets %}
            <span class='bigtext' onclick="charClick('{{c}}', 'in_buffer');">{{c}}</span>
            {% endfor %}
        </div>
        <div id='edit_area'>
            <input type="button" value="Clear"
                   onclick="clearAreas(['in_buffer', 'keycap_buffer']);">
            Key content: <input type="text" id='in_buffer'></input>

            <input type="button" value="To keycap"
                   onclick="moveText('in_buffer', 'keycap_buffer');">
            Keycap text: <input type="text" id='keycap_buffer'></input>
            <hr />
            <input type="button" value="Save keyboard"
                   onclick="saveDraft();">
        </div>
    </div>
    <div>
        </select>
        Size: <select onchange="onSizeSelected(this.value, 'edit_area');" id="sizeSelector">
        <option value="10px" select>10</option>
        <option value="14px" >14</option>
        <option value="18px" selected>18</option>
        <option value="24px" >24</option>
        <option value="32px" >32</option>
        <option value="48px" >48</option>
    </select>
    </div>
</div>
</body>
</html>
