<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>

  <title>Show diacritic combinations for {{language}}</title>

  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="/css/fonts.css">

  <style>
  textarea {
    width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-size: 24px;
	}
  {
    font-family: "Courier New";
  }
  </style>

  <style>
    {% for font in unicode_font_list %}
    @font-face{
      font-family:'{{font.family}}';
      src:url('{{font.source}}');
      font-weight:normal;
      font-style:normal;
      font-size: 32px;
    }

    .{{font.family}} {
      font-family:{{font.family}};
      font-size: 32px;
    }
    {% endfor %}
  </style>
  
  <script>
   function onFontSelected(selected, area) {
     var output_text = document.getElementById(area);
     var fontFam = selected.value + ", MyFont";
     output_text.style.fontFamily = fontFam;
   }
   
  function changeFontSize(selected) {
     var fontObj = document.getElementById(selected);
     var fontSize = fontObj.value;
     var div = document.getElementById("combo_table");
     div.style.fontSize = fontSize;
   }

    function init() {
        /* Fill in as needed */
    }
  </script>

  </head>

  <body onload="init()">
  <div class="container">
    <div class="span-24 last">
      <h2>Diacritic combinations for {{language}}</h2>
      <h2>Base character = {{base_hex}}: {{base_char}}</h2>
      <h3>{{diacritics|length}} Diacritics: {{diacritics_hex}}</h3>
      Select font: <select onchange="onFontSelected(this, 'combo_table');" id="selectFont">
        {% for font in unicode_font_list %}
        <option value="{{font.family}}">{{font.longName}}</option>
        {%endfor%}
      </select>
      Font size: <select id='fontSize'
             onChange="changeFontSize('fontSize');">
             <option value="9pt">9</option>
             <option value="10pt">10</option>
             <option value="12pt">12</option>
             <option value="14pt">14</option>
             <option value="16pt" selected="selected">16</option>
             <option value="18pt">18</option>
             <option value="24pt">24</option>
             <option value="32pt">32</option>
             <option value="36pt">36</option>
             <option value="48pt">48</option>
             <option value="64pt">64</option>
           <select/>
    <br />

    <br />
    <h3>Base + combining code points</h3>
    <p>First combiner is the row and 2nd is the column
    <table id="combo_table" dir='{{direction}}' style='font-family:{{unicode_font_list.0.family}};'>
      <th  dir='{{direction}}'>
        <td></td>
        {% for d in diacritics_hex %}
        <td  dir='{{direction}}'>
          {{d}}
        </td>
        {%endfor%}
      </th>
      <tr>
      {% for single in singles %}
      <td  dir='{{direction}}'>{{single}}</td>
      {% endfor %}
      </tr>
    {% for row in table%}
      <tr>
        <td dir='{{direction}}'>
          {{diacritics_hex.forloop.counter0}}
          </td>
        {% for item in row %}
        <td dir='{{direction}}'>
        {{item}}
        </td>
        {% endfor %}
        </tr>
       {% endfor %}
      </table>

    <!-- OLDER long list
    <h2>{{combinations|length}} Combinations</h2>
    {% for combo in combinations %}
    <p>{{combo.text}} | {% for c in combo.codes%}{{c}}{% endfor %}</p>
    {% endfor %}
    -->
  <div>
    <form id='mon_form' action="/feedback/" method="get">
      <input type="submit" value="Send feedback" />
      <input type="hidden" name='language' value='{{language}}'>
      <input type="hidden" name='font' value=''>
    </form>
  </div>
  </div>
  </div>
  </body>
