<!DOCTYPE HTML>
<html>
  <head>
    <title>Nsibisi List
   </title>

  <link rel="stylesheet" type="text/css" href="/css/fonts.css">


  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->


   <script type="text/javascript" src="/js/utils.js"></script>

   <script src="/js/vk-debug.js"></script>
   <script src="/js/Nsibidi/English2utf.js"></script>
   <script src="/js/Nsibidi/Nsibidi_kb.js"></script>

   <style>
  <style>
    {% for font in langInfo.unicode_font_list %}
    @font-face{
      font-family:'{{font.family}}';
      src:url('{{font.source}}');
      font-weight:normal;
      font-style:normal;
    }

    .{{font.family}} {
      font-family:'{{font.family}}';
      font-size: 16px;
    }

   .nsi_text { font-family: "Akagu2020"; }

    {% endfor %}

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
   </style>

  <script>
  var unicode_font_list = [
  {% for font in langInfo.unicode_font_list %}"{{font.family}}",{% endfor %}
  ];

  function showCategory(data, table_id) {
    let table = document.getElementById(table_id);
    /* Clear table */
    var rowCount = table.rows.length;
    for (var x=rowCount-1; x >= 0; x--) {
       table.deleteRow(x);
    }

    /* Create table with English and Nsibidi items */
    let table_row = 0;
    for (var line = 0; line < data.length; line ++) {
        let row = table.insertRow(table_row);
        table_row += 1;
        let cell0 = row.insertCell(0);
        cell0.innerHTML = data[line][0];
        cell0.width = '300px';
        cell0.className = 'Akagu2020';
        let cell1 = row.insertCell(1);
        cell1.innerHTML = data[line][1];
        cell1.className = 'Akagu2020';
    };
  }

   /* Creates index and output all the words */
   function createIndex(div_id) {
      const div = document.getElementById(div_id);
      const nsi_data = nsi.tree;
      for (let i in nsi_data) {
        /* Create index */
        let button = document.createElement("button");
        let group = nsi_data[i];
        // Get first character
        button.innerHTML = button.value = group[0][0].substring(0,1);
        button.onclick = button.onclick = function() {
            showCategory(group, 'word_table');
        };
        div.appendChild(button);
      }
   }

   function fillWithUnicode(region_id, text) {
     var region = document.getElementById(region_id);
     region.innerHTML = region.value = text;
   }
   function fillAllWithUnicode() {
     const unicode_text = "{{all_chars}}";
     area_List = [{% for fontFam in fontFamilies %}"{{fontFam.family|lower}}_area",{% endfor %} "None"];
     for (var i = 0; i < area_List.length - 1; i ++) {
       var name = area_List[i];
       fillWithUnicode(name, unicode_text);
     }
   }

   function copyToAll(input_id) {
     var input_id = document.getElementById(input_id);
     var selObj = window.getSelection();
     var input_text = "";
     if (selObj && selObj.rangeCount > 0) {
       var input_text = selObj.toString(0);
     } else {
         var input_text = input_id.value;
     }
     area_List = [{% for fontFam in fontFamilies %}"{{fontFam.family|lower}}_area",{% endfor %} "None"];
     for (var i = 0; i < area_List.length - 1; i ++) {
       var name = area_List[i];
       var output_id = document.getElementById(name);
       output_id.innerHTML = input_text;
       output_id.value = input_text;
     }
   }

   function changeFontSize(selected) {
     var fontObj = document.getElementById(selected);
     var fontSize = fontObj.value;
     {% for fontFam in fontFamilies %}
       var div = document.getElementById("{{fontFam.family|lower}}_area");
       div.style.fontSize = fontSize;
     {% endfor %}
   }

   function onload() {
     createIndex('words_area');
  }

  // DRAG FUNCTIONS
  function allowDrop(ev) {
    ev.preventDefault();
  }

  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
    ev.dataTransfer.setData("divObj", ev.target);
    ev.dataTransfer.setData("prev", ev.currentTarget.previousElementSibling);
  }

  function drop(ev, targetElement) {
    ev.preventDefault();
    var movingId = ev.dataTransfer.getData("text");
    var movingNode = document.getElementById(movingId);
    var movingDiv = ev.dataTransfer.getData("divObj");
    var parent = ev.currentTarget.parentNode;
    var currentId = ev.target.id;
    var currentTarget = ev.target;
    parent.insertBefore(movingNode, targetElement);
    //ev.target.appendChild(document.getElementById(data));
  }

   </script>

   </head>

  <body onload="onload()">

  <div class="container">
  <div class="span-1">
  </div>
  <div class="span-18 last">
  <h2>Test Unicode fonts with {{scriptName}} script</h2>
  {% for fontFam in fontFamilies %}
  <div id="{{fontFam.family}}_div" draggable="true" ondragstart="drag(event)" ondrop="drop(event,this)"
    ondragover="allowDrop(event)">
    &#9776;
    <b>{{fontFam.family}}</b>
    <br/>
      <text id="{{fontFam.family|lower}}_area" class="{{fontFam.family|lower}}"
      style="font-size:32px; white-space:pre-wrap;" colums="80" rows="2">{{utext}}</text>
  </div>
  {% endfor %}

  <div id='words_area'></div>
    <br />
    <h3>Words</h3>
    <table id="word_table">

    </table>
  </div>
  </div>
  </body>
</html>
