<!DOCTYPE HTML>
<html>    
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{language}} Numerals
    </title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">

    <script type="text/javascript" src="/js/numerals/numeralBase.js"></script>

    <!-- This loads the numerals info -->
    <script type="text/javascript" src="/js/numerals/{{langNumerals}}.js"></script>

    <!-- Gets definition of the caluculator -->
    <script type="text/javascript" src="/js/numerals/calculator4.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/calculator.css">

    <link rel="stylesheet" type="text/css" href="/css/chrCalculator.css">

    <style>
      img {
          opacity: 0.5;
      }

      td {
          text-align: center;
          font-size: 32px;
      }      

      {% for font in unicodeFontList %}
      @font-face{
          font-family:"{{font.family}}";
          src:url('{{font.source}}'){% if '.ttf' in font.source %}format('truetype'){%endif%}{% if '.TTF' in font.source %}format('truetype'){%endif%}{% if '.otf' in font.source %}format('opentype'){%endif%}{%if '.woff' in font.source %}format('woff'){%endif%};
          font-weight:normal;
          font-style:normal;
          font-size: 32px;
      }
      {% endfor %}

      .OperatorsClass {
          font-family: Arial;
          font-size: 32px;
      }
      .NumeralsClass {
          font-family:{{unicodeFontList.0.family}};
          font-size: 32px;
      }
      .NumeralsOutputClass {
          font-family:{{unicodeFontList.0.family}};
          font-size: 48px;
          font-weight:bold;
      }
      .DecimalDisplay {
          background-color: #cccccc;
      }
      .logArea {
          width:600px;
          height:200px;
      }
      table {
          width: 400px;
      }

      .default-font {
          font-family: "Arial";
          font-size:18px;
      }
    </style>
    
    <script src="/js/langinfo/langdata.js"></script>

    <script>
      // Holds all the info about the numeral system
      const numeralBase = new NumeralBase();
      const numeralInfo = new Numerals(numeralBase);
      
      // The calculator object.
      let calculator;
      
      const langInformation = new langData("{{language}}", "{{langTag}}");

      const font_families = [{% for font in font_list %}"{{font.family}}", {% endfor %}];

      // Toggle the region id.
      function showhide(id) {
          var e = document.getElementById(id);
          var vis = e.style.display;
          e.style.display = (vis === 'block') ? 'none' : 'block';
          return false;
      }

      function showDecimal(value) {
          let area = document.getElementById('decimalOutput');
          let result = value;
          if (Intl.NumberFormat) {
              let fmt = new Intl.NumberFormat('en');
              result = fmt.format(value);
          }
          if (area) {
              area.value = result;
          }
      }
      
      // Append to the output.
      function addToLogging(str) {
          let area = document.getElementById('logArea');
          area.innerHTML += ' ' + str;
          area.scrollTop = area.scrollHeight;
      }
      
      function onload() {

          // Connect CHR numeral data to calculator.
          calculator = new calculator4(numeralInfo,
                                       'outputArea');

          calculator.setNumeralObject(numeralInfo);
          
          setCalculatorKeyTable('buttonTable', numeralInfo, calculator);

          // Ready to use the calculator.
          numeralInfo.setDisplayDecimal(showDecimal);
          numeralInfo.setLoggingFn(addToLogging);
      }

      function MainHideShow (name) {
          var showhide = document.getElementById(name);
          if (showhide.style.display == "none") {
              showhide.style.display = "block";
          } else {
              showhide.style.display = "none";
          }
          return false;
      }
      
      function clearArea(output_area) {
          let textArea = document.getElementById(output_area);
          textArea.innerHTML = '';
      }
      
      function runTests() {
          const numTests = new TestNumerals(numeralInfo);
          numTests.testIntToList();  // OK!
          // Needs work!
          numTests.testFormat();
          numTests.testParse();
      }

      function setCalculatorKeyTable(tableId, numeralInfo, calculator) {
          // The table
          const table = document.getElementById(tableId);
          const rows = table.rows;
          const numRows = rows.length;  // May need to add more

          const keyMap = numeralInfo.keyLayoutArray();
          const charToValueMap = numeralInfo.getCharToValueMap();
          
          const onInputFn = calculator.onInput;
          let fmt = new Intl.NumberFormat('en');

          // For rows 0-5, keep the operation at the first part of the row
          // * - + / =, and clear.
          // Add on the characters in each row
          // TODO: Set up title for each one to show the numeric value.
          for (let row = 0; row < keyMap.length; row ++) {
              const keyRow = keyMap[row];
              if (row >= numRows) {
                  // Add another one
                  table.insertRow(row);
              }
              const rowPtr = table.rows[row];
              // Append this layout row to the table row
              let tableCol = rowPtr.cells.length;
              for (let col = 0; col < keyRow.length; col ++) {
                  let cell = rowPtr.insertCell(tableCol);
                  // TODO: Create button, not just
                  const chr = keyMap[row][col];
                  const btn = document.createElement("button");
                  btn.innerHTML = chr;
                  btn.value = chr;
                  
                  const value = charToValueMap.get(chr);
                  btn.onclick = calcButtonFn;
                  cell.appendChild(btn);
                  cell.title = fmt.format(value);
                  btn.className = 'NumeralsClass';
                  // TODO: Set TD title

                  tableCol ++;
              }
          }
      }

      function calcButtonFn(event) {
          let chr;
          if (typeof event === 'string') {
              chr = event;
          } else {
          // Gets the value of this button, sending to calculator.
              chr = event.target.value;
          }
          calculator.onInput(chr);
      }
      function convertDecimal(inputArea) {
          let decimalArea = document.getElementById(inputArea);
          let number = decimalArea.value;
          calculator.insertAccumValue(number.replaceAll(',', ''));
      }

    </script>
  </head>
  
  <body background="/images/{{numbersImage}}" class="chrNoto" onload="onload();">
    <h2>{{language}} Numerals Calculator</h2>
    {% if isMobile %}
    <!-- TODO something special? -->
    {% endif %}
    
    <div id="calculator">
      
      <div id="keypad">     
        <!-- X Register -->
        <p>
          <div align="right">
            <textarea id="outputArea" class="NumeralsOutputClass"></textarea>
            </div>
        <div id="decimalOutputDiv" style="display: none" class='DecimalDisplay'>
          <p>Decimal output: <textarea id="decimalOutput"></textarea>
          <input type='button' value='-->' onclick='convertDecimal("decimalOutput");'/>
        </div>
        <table id="buttonTable" class="NumeralsClass">
          <tr>
            <td>
              <input type='button' value='×'  class='OperatorsClass' onclick='calcButtonFn("×");'/>
            </td>
          </tr>
          <tr>
            <td>
              <input type='button' value='-'  class='OperatorsClass' onclick='calcButtonFn("-");'/></td>
          </tr>
          <tr>
            <td><input type='button' value='+' class='OperatorsClass' onclick='calcButtonFn("+");'/></td>
          </tr>
          <tr>
            <td><input type='button' value='÷' class='OperatorsClass'/ onclick='calcButtonFn("÷");'></td>
          </tr>
          <tr>
            <td><input type='button' value='=' class='OperatorsClass' onclick='calcButtonFn("=");'/></td>
            <!-- TO BE IMPLEMENTED 
                 <td><input type="button" value="delete"> </td>
                 -->
	  </tr>
	  <tr>
            <td><input type="button" value="clr" class='OperatorsClass' onclick='calcButtonFn("clear");'></td>
          </tr>
        </table>
      </div>
    </div>
    
    <div id='controls'>
      {% if test %}
      <button value='test all' onClick='runTests();'>Run Tests</button>
      {% endif %}
      <button onclick="return MainHideShow('calculator');" value="calcShow"
              style="display: none">Decimal calculator</button>
      <button onclick="return MainHideShow('decimalOutputDiv');" value="decimalShow">Decimal output</button>
      <button onclick="return MainHideShow('logDiv');" value="logShow">Logging</button>
    </div>
    <div id="logDiv" style="display: none">
      <textarea id="logArea" class='logArea'></textarea>
      <input type='button' value='clear log' onclick="clearArea('logArea');">
    </div>

    
    {% if isMobile %}
    {% else %}
    <div id="reference" style="width: 500px">

    </div>
    {% endif %}
  </body>

</html>
