<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>

  <title>Collation tests {{language}}</title>

  <!-- Font encoding areas -->
  <style>
    {% for encoding in langInfo.encoding_font_list %}
    @font-face{
      font-family:'{{encoding.font_name}}';
      src:url('{{encoding.font_path}}');
      font-weight:normal;
      font-style:normal;
      font-size: 32px;
    }
    .{{encoding.font_name}} {
      font-family:{{encoding.font_name}};
      font-size: 32px;
    }
    {% endfor %}
  </style>

  <!-- Unicode fonts -->
  <style>
    {% for font in langInfo.unicode_font_list %}
    @font-face{
      font-family:'{{font.family}}';
      src:url('{{font.source}}');
      font-weight:normal;
      font-style:normal;
      font-size: 16px;
    }

    .{{font.family}} {
      font-family:{{font.family}};
      font-size: 16px;
    }
    {% endfor %}

    table {
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid black;
    }
    td {
    text-align: center;
    width: 120px;
    font-size:20px;
    }
  </style>

  {% if converters %}<script src="/js/{{converters.filename}}.js"></script>{% endif %}

  <script src="/js/utils.js"></script>

  <script type="text/javascript">
  var k = { loadme: Object};
  k.loadme.prototype = function(a) {
  return a;
  }
  var e = {keyboard: k};
  var google = {elements: e};

  {% for kb in kb_list %}
  <!-- {{kb.shortName}} -->
  <script src="/layouts/{{kb.shortName}}.js"></script>
  {% endfor %}

  {% for kb in kb_list %}
  const {{kb.shortName}}_transform =  {{kb.shortName}}.transform;
  {% endfor %}

  // Keep for reset.
  var original_text = "";
  var original_split_text = "";
  var column_headings = [];
  var table_data = {};  // global object for information

  function makeColClick(col, is_number) {
    return function() {
      sortTableColumn(col, is_number);
    };
  }

  const collation_string = `{{collation_string}}`;

  // For conversions as needed
  var converter_PUA_to_Unicode = nstConverter_obj['conversions']['GW_to_Unicode'].convert;
  var converter_pua = nstConverter_obj['conversions']['GW_to_PUA'].convert;
  var converter_unicode = nstConverter_obj['conversions']['GW_to_Unicode'].convert;

  //const readCollationTestData = async file => {
  //    const response = await fetch(file)
  //    const text = await response.text();
  //    loadCollationString(text);
  //}

  function loadCollationString(text) {
    var columns_headings = ['CALMSEA', 'Phonemic (following Gam Win)',
      'Muishvung (Gam Win’s system)',	'Muishvung PUA (Lakhum Mossang’s system)',
      'Lakhum Unicode',
      'Name of Unicode characters (consonants without final -a)', 'Notes',
    ]
    // Record results in a global object.
    table_data['text'] = text;
    table_data['last_sort_column'] = 0;
    comment_area = document.getElementById('comments');
    comment_area.innerHTML = '';

    const output_table = document.getElementById('collation_table');
    // Process before putting into HTML
    var split_text = text.split("\n");
    var num_lines = split_text.length;
    //output.innerHTML = text;
    table_data['num_lines'] = num_lines;
    table_data['output_table'] = output_table;

    // Fill in and format table of entries
    var table_row = 0;
    var max_columns = 0;  // Actually set when header row is found.
    var header_count = 0;
    var data_row = 0;

    for (var line = 0; line < num_lines; line ++) {
      var line_content = split_text[line].trim();
      if (line_content[0] == "#") {
          comment_area.innerHTML += line_content.substring(1) + ". ";
      }
      if (line_content [0] != "#" && line_content.length > 0) {
        var row = output_table.insertRow(table_row);
        table_row += 1;
        var row_entries = line_content.split("\t");
        if (table_row == 1) {
          // Header row.
          if (row_entries.length > max_columns) {
            max_columns = columns_headings.length;
          }
          header_count += 1;
          line_content[0] = '';
          var headerCell = document.createElement("TH");
          headerCell.onclick = makeColClick(0, true);
          headerCell.innerHTML = "Input row";
          headerCell.style.backgroundColor = "yellow";

          row.appendChild(headerCell)
          column_headings.push(headerCell.innerHTML);
          for (var col = 0; col < columns_headings.length; col ++) {
            var headerCell = document.createElement("TH");
            headerCell.onclick = makeColClick(col+1, false);

            var col_text = columns_headings[col];
            if (col_text[0] == "!") {
              col_text = col_text.substring(1);
            }
            column_headings.push(col_text);
            headerCell.innerHTML = col_text;
            row.appendChild(headerCell)
          }
        } else {
          var cell = row.insertCell(0);
          data_row ++;
          cell.innerHTML = data_row;
          var source_column = 0;
          for (var col = 0; col < Math.max(max_columns, row_entries.length); col ++) {
            var cell = row.insertCell(col+1);
            if (col == 4) {
              // Lakhum Unicode
              cell.innerHTML = converter_unicode(row_entries[3]);
              cell.style.fontFamily = 'LakhumUnicode';
              var uni_hex = utf16common(cell.innerHTML, "", " ", null, []);
              cell.title = uni_hex;  // Hint
            } else if (source_column < row_entries.length) {
              cell.innerHTML = row_entries[source_column];
              if (source_column == 3) {
                var hex = utf16common(cell.innerHTML, "", " ", null, []);
                cell.title = hex;  // Hint
                cell.style.fontFamily = 'LakhumPUA';
              }
              source_column++;
            } else {
              // Lakhum Unicode
              cell.innerHTML = "";
            }
          }

        }
      }
    }
    original_split_text = split_text;
    original_text = text;

    table_data['column_headings'] = column_headings;
    table_data['header_count'] = header_count;
    table_data['original_split_text'] = original_split_text;
    return text;
  }

  function sortTableColumn(col, is_number) {
    sortTableRows(table_data['output_table'], table_data, col, is_number);
  }

  function compare(a, b) {
    if (a > b) {
      return -1;
    }
    else if (a < b) {
      return 1;
    }
    return 0;
  }

  function sort(direction, id) {
    // TODO: sort by column contents
    var textarea = document.getElementById(id);
    if (direction == 1) {
      textarea.value = textarea.value.split("\n").sort().join("\n");
    } else {
      // Reverse
      textarea.value = textarea.value.split("\n").sort(compare).join("\n");
    }
  }

  function resetText(id) {
    var textarea = document.getElementById(id);
    textarea.value = original_text;
  }

  // Function called when any manual edit is made to textarea contents.
  function noteEditing(id) {
  }

  // Global - yuck.
  var column_to_sort = 0;
  var reverse_sort = false;
  function compareRowsByColumn(a, b) {
    var atext = a['text'];
    var btext = b['text'];
    if (reverse_sort) {
        if (atext > btext) {
        return -1;
      } else if (atext < btext) {
        return 1;
      }
      return 0;
    } else {
        if (atext < btext) {
        return -1;
      } else if (atext > btext) {
        return 1;
      }
      return 0;
    }
  }

  function compareRowsByColumnNumber(a, b) {
    var diff;
    if (reverse_sort) {
      diff = b.text - a.text;
    } else {
      diff = a.text - b.text;
    }

    if (diff < 0) {
      return -1;
    } else if (diff > 0) {
      return 1;
    }
    return 0;
  }

  // Convert to Tangsa Unicode to compare PUA values
  function compareRowsByColumnUnicode(a, b) {
    var atext = converter_PUA_to_Unicode(a['text']);
    var btext = converter_PUA_to_Unicode(b['text']);
    if (reverse_sort) {
      if (atext > btext) {
       return -1;
      } else if (atext < btext) {
       return 1;
      }
      return 0;
    } else {
      if (atext < btext) {
       return -1;
      } else if (atext > btext) {
        return 1;
      }
      return 0;
    }
  }

  function sortTableRows(table, table_data, sort_column, is_number) {
    // Get sort_field.
    var sort_data = [];
    var rows = table.rows;

    // Set highlight
    if (table_data['header_count'] > 0) {
      rows[0].cells[table_data['last_sort_column']].style.backgroundColor = "white";
    }
    // If resorting the same column, reverse order.
    if (sort_column == table_data['last_sort_column']) {
      reverse_sort = !reverse_sort;
    }
    table_data['last_sort_column'] = sort_column;

    var out_row = table_data['header_count'];
    for (var row_num = out_row; row_num < rows.length; row_num++) {
      var cells_in_row = rows[row_num].cells;
      var cell_data = [];
      // Skip header cells
      var text = "";
      var cell = -1;
      try {
        text = cells_in_row[sort_column].innerHTML;
        for (cell = 0; cell < cells_in_row.length; cell ++) {
          cell_data.push(cells_in_row[cell].innerHTML);
        }
      } catch (TypeError) {
        text = "UNKNOWN";
      }
      if (row_num >= table_data['header_count']) {
        sort_data.push({'text': text,
                        'row_num': row_num,
                        'cell_data': cell_data});
      }
    }
    // TODO: Global - replace with a closure?
    column_to_sort = sort_column;
    if (is_number) {
      sort_data.sort(compareRowsByColumnNumber);
    } else {
      if (column_to_sort != 4) {
        sort_data.sort(compareRowsByColumn);
      } else {
        // Special case for PUA data
        sort_data.sort(compareRowsByColumnUnicode);
      }
    }
    // Now refill table.
    for (var index = 0; index < sort_data.length; index ++) {
      var cell_data = sort_data[index]['cell_data'];
      for (var col = 0; col < cell_data.length; col ++) {
        try {
          rows[out_row].cells[col].innerHTML = cell_data[col];
        } catch (TypeError) {
          var error = 'BOGUS';
        }
      }
      out_row ++;
    }
    if (table_data['header_count'] > 0) {
      rows[0].cells[sort_column].style.backgroundColor = "yellow";
    }
  }

  function onPageLoaded() {
        loadCollationString(collation_string);

    // var text = readCollationTestData("{{collation_data.0.test_file}}");
  }

  var encoding_font_list = [
  {% for encoding in langInfo.encoding_font_list %}"{{encoding.font_name}}",{% endfor %}
  ];

var unicode_font_list = [
  {% for font in langInfo.unicode_font_list %}"{{font.family}}",{% endfor %}
  ];

  </script>
</head>


<body onload="onPageLoaded();">

  <h1>{{langInfo.Language}}: demonstrate collation of strings</h1>
  <p id="comments"></p>
  <p><em>Click on column headings to sort. Click twice to sort column in reverse.</em></p>

    <table id="collation_table">
    </table>

<!--    <textarea id="collation_data" rows="10" cols="100"-->
<!--              class="{{langInfo.unicode_font_list.0.family}}"-->
<!--              onkeyup="noteEditing('collation_table');">-->

    </textarea>


</body>
</html>
